@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@*                <div class="row mb-3">
                    <div class="col-12"><label for="BosontoEseJacche">BosontoEseJacche</label></div>
                    <div class="col-12"><input type="text" class="form-control" name="BosontoEseJacche" id="BosontoEseJacche" placeholder="Enter BosontoEseJacche" /> </div>
                </div>*@